:root{
    --primary-background-color: #102c26;
    --secondary-background-color: #1c4b37;
    --primary-text-color: #f5fffa;
    --hover-text-color: #b0ffd7;
    --primary-button-color: #f7e7ce;
    --primary-button-text-color: #333333;
    --primary-font: "Quicksand";
    --sidebar-width: 300px;
    --sidebar-collapsed-width: 70px;
    --sidebar-header: #113b2a;
    --sidebar-bg: #103425;
    --sidebar-hover: #1c4b37;
    --border-color: #203f29;
    --primary-button-color-dark: #103425;
    --primary-button-text-color-dark: #f5fffa;
}

.main_layout{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    font-family: var(--primary-font), sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

a:hover{
    color: var(--hover-text-color);
}

.head_layout{
    background-color: var(--secondary-background-color);
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.sidebar {
    height: 100vh;
    background: var(--sidebar-bg);
    color: var(--primary-text-color);
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    user-select: none;
}

/* 2 trạng thái */
.sidebar.expanded {
    width: var(--sidebar-width);
}
.sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
}

/* Header */
.sidebar-header {
    padding: 20px;
    font-weight: bold;
    background: var(--sidebar-header);
    text-align: center;
}

/* Menu */
.menu {
    flex: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    gap: 15px;
}
.menu-item.close:hover{
    background-color: var(--sidebar-header);
}

.menu-item:hover {
    background: var(--sidebar-hover);
}

.menu-item.active{
    background: var(--sidebar-hover);
    color: var(--hover-text-color);
}

.menu-icon {
    display: flex;
}

.menu-text {
    transition: opacity 0.2s ease;
}

/* Khi collapsed thì ẩn text */
.sidebar.collapsed .menu-text {
    opacity: 0;
    pointer-events: none;
}

.footer_layout{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    z-index: 0;
}
.main_content{
    min-height: 80vh;
    margin: 10px 10px 10px calc(var(--sidebar-collapsed-width) + 10px);
    position: relative;
}
.menu-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.submenu-arrow {
    cursor: pointer;
    padding-right: 15px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    display: flex;
}
.submenu-arrow > svg{
    transition: transform 0.3s ease;
}
.submenu-arrow.rotate > svg{
    transform: rotate(180deg);
}
.submenu-group, .submenu-group-lv1{
    position: relative;
}
.submenu{
    display: flex;
    flex-direction: column;
}
.submenu-item{
    display: flex;
    align-items: center;
    padding: 12px 45px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    gap: 15px;
}
.submenu-item.active{
    background: var(--sidebar-hover);
    color: var(--hover-text-color);
}